img#logo{
	z-index: 100;
	left: 0;
	width: 145px;
	margin-left: 0;
	text-align: center;
	max-height: 125px;
}
img#nav{
    max-height: 100px;
    }
.img-center {
  margin: auto;
  padding: 20px;
  width: 100%;
}
img#map {
	max-width: 100%;
    height: auto;
}

.inline {
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.list-align-left {
text-align: left;
}

/*.fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50% !important;
}*/