<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BBTG</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- TODO: download these assets -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/agency.min.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div id="nav" class="container">
        <div id="logo">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img class="rounded-circle img-fluid" src="../static/img/logos/bbg.png">
        </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#manufacturers">Manufacturers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#timeline">News & Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Broadband Technology Group</div>
          <div class="intro-heading">Broadband Technology Group (BBTG) is a customer-focused rep firm located in the Midwest.
              Through our consultative approach, we help our clients deploy the most advanced fiber optic architectures to suit all FTTx needs.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Manufacturers -->
    <section id="manufacturers">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Manufacturers</h2>
            <!--<h3 class="section-subheading text-muted">Broadband Technology Group (BBTG) is a customer-focused rep firm located in the Midwest.-->
              <!--Through our consultative approach, we help our clients deploy the most advanced fiber optic architectures to suit all FTTx needs.</h3>-->
          </div>
        </div>
        <div class="row text-center img-center">
              <img src="../static/img/logos/AFL.jpg" height="128" width="150">
            <p class="text-muted">AFL provides industry-leading solutions, products and services to the energy, service provider, enterprise and industrial markets as well as a number of emerging markets.</p>
          </div>
          <div class="row text-center img-center">
              <img class="img-center" src="../static/img/logos/DuraLine.jpg" height="128" width="200">
            <p class="text-muted">Dura-Line is a leading international manufacturer and distributor of communication and energy infrastructure products and systems including conduit, cable-in-conduit, pipe, and accessories.   At Dura-Line, we provide the “mission critical” elements of networks and infrastructure.  We take that responsibility very seriously.  Our experienced sales team and technical support staff, our commitment to product quality and availability, and our ongoing product innovation coupled with our unmatched industry experience give us the ability to support your specific installation needs, wherever you need us. </p>
          </div>
          <div class="row text-center img-center">
              <img class="img-center" src="../static/img/logos/GMP.jpg" height="128" width="150">
            <p class="text-muted">General Machine Products, a family-owned business located in Suburban Philadelphia, Pennsylvania, is a manufacturer of a wide range of products for the telecommunications, power utility and cable television industries, and the contractors who serve them.
The company’s total capabilities include the development, prototyping and manufacturing of Aerial Cable Construction Equipment & Tools, Copper & Fiber Cable Placing and Blowing Equipment, Manhole & Duct Tools, Installer’s Hand Tools, Warning Signs, Tents and Tarps, Winches, Motor Vehicle Accessories, Specialty Hardware, Related Supplies and more.</p>
          </div>
      </div>
    </section>

    <!-- Territory -->
    <section class="bg-light" id="territory">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Territory</h2>
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
          </div>
        </div>
        <div class="container img-center">
          <img id="map" src="../static/img/map.jpg">
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <!--<section class="bg-light" id="portfolio">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-12 text-center">-->
            <!--<h2 class="section-heading text-uppercase">Portfolio</h2>-->
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/01-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Threads</h4>-->
              <!--<p class="text-muted">Illustration</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/02-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Explore</h4>-->
              <!--<p class="text-muted">Graphic Design</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/03-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Finish</h4>-->
              <!--<p class="text-muted">Identity</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/04-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Lines</h4>-->
              <!--<p class="text-muted">Branding</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/05-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Southwest</h4>-->
              <!--<p class="text-muted">Website Design</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
            <!--<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">-->
              <!--<div class="portfolio-hover">-->
                <!--<div class="portfolio-hover-content">-->
                  <!--<i class="fa fa-plus fa-3x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<img class="img-fluid" src="../static/img/portfolio/06-thumbnail.jpg" alt="">-->
            <!--</a>-->
            <!--<div class="portfolio-caption">-->
              <!--<h4>Window</h4>-->
              <!--<p class="text-muted">Photography</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

    <!-- Timeline -->
    <section id="timeline">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">News & Events</h2>
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../static/img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>August 14-16, 2018</h4>
                    <h4 class="subheading">ISE Expo</h4>
                  </div>
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">ISE Expo</p>-->
                  <!--</div>-->
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../static/img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>October 1-3, 2018</h4>
                    <h4 class="subheading">WSTA Fall Conference & Exhibits</h4>
                  </div>
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                  <!--</div>-->
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../static/img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>October 10-11, 2018</h4>
                    <h4 class="subheading">2018 MTA Fall Conference</h4>
                  </div>
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                  <!--</div>-->
                </div>
              </li>
              <!--<li class="timeline-inverted">-->
                <!--<div class="timeline-image">-->
                  <!--<img class="rounded-circle img-fluid" src="../static/img/about/4.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="timeline-panel">-->
                  <!--<div class="timeline-heading">-->
                    <!--<h4>July 2014</h4>-->
                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                  <!--</div>-->
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li class="timeline-inverted">-->
                <!--<div class="timeline-image">-->
                  <!--<h4>Be Part-->
                    <!--<br>Of Our-->
                    <!--<br>Story!</h4>-->
                <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Meet the Team</h2>
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="../static/img/team/dan.png" alt="">
              <h4>Dan Kesselmayer</h4>
              <p class="text-muted">President</p>
              <p>Dan Kesselmayer has over 10 years of utility industry experience including distribution, network design and consulting, project and construction management.</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/dan-kesselmayer-87627a50">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-phone"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="../static/img/team/amanda.png" alt="">
              <h4>Amanda G. Sandrick</h4>
              <p class="text-muted">Director of Sales and Marketing</p>
              <p>Amanda Sandrick joined Broadband Technology Group in April 2018 as their Director of Sales &
Marketing.  Amanda has over five years of experience in the telecommunications industry, specifically
working with telecom manufacturers and distributors.  Her background includes over 10+ years of
global marketing experience as well as sales experience in various industries.
</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/amandasandricktelecomsales/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-phone"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">
                Through these unique experiences, we are able to offer practical and cost effective solutions to meet any of our customer FTTx needs.</p>
          </div>
        </div>
      </div>
    </section>

    <!--&lt;!&ndash; Clients &ndash;&gt;-->
    <!--<section class="py-5">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="../static/img/logos/envato.jpg" alt="">-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="../static/img/logos/designmodo.jpg" alt="">-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="../static/img/logos/themeforest.jpg" alt="">-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="../static/img/logos/creative-market.jpg" alt="">-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Hours of Operation: Monday-Friday 8:00 a.m. – 6:00 p.m. (CST)</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Broadband Technology Group</span>
          </div>
          <!--<div class="col-md-4">-->
            <!--<ul class="list-inline social-buttons">-->
              <!--<li class="list-inline-item">-->
                <!--<a href="#">-->
                  <!--<i class="fa fa-twitter"></i>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="list-inline-item">-->
                <!--<a href="#">-->
                  <!--<i class="fa fa-facebook"></i>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="list-inline-item">-->
                <!--<a href="#">-->
                  <!--<i class="fa fa-linkedin"></i>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<ul class="list-inline quicklinks">-->
              <!--<li class="list-inline-item">-->
                <!--<a href="#">Privacy Policy</a>-->
              <!--</li>-->
              <!--<li class="list-inline-item">-->
                <!--<a href="#">Terms of Use</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/02-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Explore</li>
                    <li>Category: Graphic Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/03-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Finish</li>
                    <li>Category: Identity</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/04-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Lines</li>
                    <li>Category: Branding</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/05-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Southwest</li>
                    <li>Category: Website Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/agency.min.js"></script>

  </body>

</html>
